<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="../../assets/ForoWeb.PNG"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Proyecto php"
      />
  
      <img
        src="../../assets/ProyectHotel.PNG"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Windows form c#"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/WebTech2.PNG"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Proyecto laravel"
      />
  
      <img
        src="../../assets/Matrices.PNG"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Aplicacion Escritorio c#"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/ProyectUniversidad.PNG"
        class="Aplicacion c#"
        alt="Windows C#"
      />
  
      <img
        src="../../assets/AplicationMovil.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Aplicacion Movil"
      />
    </div>
  </div>