    <div class="card" >
        <img class="card-img-top" src="../../assets/foto-perfil.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">I was born in 1999 in the vibrant city of Medellin, 
            Colombia and from an early age I showed a great knack for technology and a strong interest in the digital world. Eventually,
             that passion became a vocation and I decided to study to become a software developer.
            After years of hard study and dedication, I finally graduated in 2022 with honors and started working in the field of my dreams.
             It didn't take me long to demonstrate my skills and soon I was hired by one of the most important companies in Colombia, Postobón S.A., where I work as a solutions analyst.
            
            In my job, I demonstrate great problem-solving skills and an excellent ability to work as part of a team.
            
            But I don't stop there, I am always looking for new challenges and learning opportunities, which is what has made me. 
            Undoubtedly, my talent, dedication and passion for technology will lead me to achieve many more successes in the future..</p>
        </div>
      </div>
     
<section class="container-cita">
    <div class="aboutme-dani">    
        <img src="../../assets/foto-dani (1).jpg" class="img-fluid" alt="...">
    </div>
    <div class="aboutme-text text-wrap" >
       <p class="phrase"> 
        "Technology is a powerful tool, but it's the way we use it that determines whether it's a good or a bad thing for humanity." 
       </p>
       <p class="author">     - Tim Cook, CEO of Apple Inc</p>
    </div>

</section>
