 
 
 <div class="card" style="width: 100%;">
  <img class="card-img-top" src="../../assets/tech.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">I am a software developer with experience in creating innovative and effective solutions for
      various industries.
      I strive to understand my clients' needs and provide them with customized solutions that will enable them to
      achieve their goals.
      With my focus on quality and customer satisfaction, I can ensure that my solutions will be reliable, efficient and
      easy to use.
    </p>
    <p class="card-text-phrase">
      "Let's transform your ideas into high quality digital solutions toget".
    </p>
  </div>
</div>




